In [1]:
from datatable import dt, f, by, as_type
from datetime import datetime as d
from shapely.geometry import Point, shape, Polygon
import os, shutil, glob
import argparse
import dask.dataframe as dd
import pandas as pd
import matplotlib.pyplot as plt
import geopandas

/opt/conda/lib/python3.8/site-packages/geopandas/_compat.py:111: UserWarning: The Shapely GEOS version (3.10.2-CAPI-1.16.0) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.
  warnings.warn(

In [2]:
fold = '/BigData/BigData/HW1/*'
file = glob.glob(f'{fold}')
file

['/BigData/BigData/HW1/yellow_tripdata_2009-03.csv',
 '/BigData/BigData/HW1/yellow_tripdata_2009-02.csv',
 '/BigData/BigData/HW1/yellow_tripdata_2009-01.csv']

In [3]:
frame = dt.Frame()
[frame.rbind(dt.fread(f, fill=True), force=True, bynames=True) for f in file]
columns = frame.names
columns

('vendor_name',
 'Trip_Pickup_DateTime',
 'Trip_Dropoff_DateTime',
 'Passenger_Count',
 'Trip_Distance',
 'Start_Lon',
 'Start_Lat',
 'Rate_Code',
 'store_and_forward',
 'End_Lon',
 'End_Lat',
 'Payment_Type',
 'Fare_Amt',
 'surcharge',
 'mta_tax',
 'Tip_Amt',
 'Tolls_Amt',
 'Total_Amt')

In [4]:
'''
Delete all NA row column and row
'''
del frame[:, 'store_and_forward']
del frame[:, 'Rate_Code']
del frame[:, 'mta_tax']
del frame[dt.rowall(f[:]==None),:]

In [7]:

frame[:,dt.update(Trip_Pickup_DateTime = dt.time.hour(f.Trip_Pickup_DateTime), \
                    Trip_Dropoff_DateTime = dt.time.hour(f.Trip_Dropoff_DateTime))]
frame

In [8]:
from pyproj import CRS
crs = CRS('epsg:4326')
def cor2loc(df, lon_var, lat_var, name_var):
    local_df = df.copy()
    shape_df = geopandas.read_file('taxi_zones/taxi_zones.shp')
    shape_df.drop(['OBJECTID', 'Shape_Area', 'Shape_Leng', 'borough'], axis=1, inplace=True)
    shape_df = shape_df.to_crs(crs)
    
    try:
        local_gdf = geopandas.GeoDataFrame(local_df, crs=crs,
                                          geometry=[Point(xy) for xy in zip(local_df[lon_var], local_df[lat_var])])
        local_gdf = geopandas.sjoin(local_gdf, shape_df, how='left', op='within')
        local_gdf = local_gdf.drop('geometry', axis=1)
        local_gdf = local_gdf.drop('index_right', axis=1)
        local_gdf.rename(columns={'zone':f'{name_var}_Zone', 'LocationID':f'{name_var}_ID'}, inplace=True)
        return local_gdf
    except ValueError as ve:
        print(ve)
        print(ve.stacktrace())
        series = df[lon_var]
        return series

In [10]:
# Partition dataframe to multiple chunk
num_of_pool = 16
frame = frame.to_pandas()
n = frame.shape[0] // num_of_pool
list_frame = [frame[i:i+n] for i in range(0, frame.shape[0],n)]

In [12]:
# Mapping Lon and Lat to zone and location ID
from multiprocessing import Pool
from itertools import repeat
def multiple_mapping(num_of_pool, list_df,lon_var, lat_var, name_var):
    with Pool(num_of_pool) as pool:
        second_arg = lon_var
        third_arg = lat_var
        forth_arg = name_var
        new_list = pool.starmap(cor2loc, zip(list_df, repeat(second_arg), repeat(third_arg), repeat(forth_arg)))
    return new_list

In [13]:
list_frame = multiple_mapping(num_of_pool, list_frame, 'Start_Lon', 'Start_Lat', 'pick_up')
list_frame = multiple_mapping(num_of_pool, list_frame, 'End_Lon', 'End_Lat', 'drop_off')

/opt/conda/lib/python3.8/multiprocessing/pool.py:125: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  result = (True, func(*args, **kwds))
/opt/conda/lib/python3.8/multiprocessing/pool.py:125: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  result = (True, func(*args, **kwds))
/opt/conda/lib/python3.8/multiprocessing/pool.py:125: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  result = (True, func(*args, **kwds))
/opt/conda/lib/python3.8/multiprocessing/pool.py:125: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  result = (True, func(*args, **kwds))
/opt/conda/lib/python3.8/multiprocessing/pool.py:125: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  result = (True, func(*args, **kwds))
/opt/conda/lib/python3.8/multiprocessing/pool.py:125: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  result = (True, func(*args, **kwds))
/opt/conda/lib/python3.8/multiprocessing/pool.py:125: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  result = (True, func(*args, **kwds))
/opt/conda/lib/python3.8/multiprocessing/pool.py:125: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  result = (True, func(*args, **kwds))
/opt/conda/lib/python3.8/multiprocessing/pool.py:125: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  result = (True, func(*args, **kwds))
/opt/conda/lib/python3.8/multiprocessing/pool.py:125: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  result = (True, func(*args, **kwds))
/opt/conda/lib/python3.8/multiprocessing/pool.py:125: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  result = (True, func(*args, **kwds))
/opt/conda/lib/python3.8/multiprocessing/pool.py:125: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  result = (True, func(*args, **kwds))
/opt/conda/lib/python3.8/multiprocessing/pool.py:125: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  result = (True, func(*args, **kwds))
/opt/conda/lib/python3.8/multiprocessing/pool.py:125: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  result = (True, func(*args, **kwds))
/opt/conda/lib/python3.8/multiprocessing/pool.py:125: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  result = (True, func(*args, **kwds))
/opt/conda/lib/python3.8/multiprocessing/pool.py:125: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  result = (True, func(*args, **kwds))
/opt/conda/lib/python3.8/multiprocessing/pool.py:125: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  result = (True, func(*args, **kwds))
/opt/conda/lib/python3.8/multiprocessing/pool.py:125: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  result = (True, func(*args, **kwds))
/opt/conda/lib/python3.8/multiprocessing/pool.py:125: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  result = (True, func(*args, **kwds))
/opt/conda/lib/python3.8/multiprocessing/pool.py:125: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  result = (True, func(*args, **kwds))
/opt/conda/lib/python3.8/multiprocessing/pool.py:125: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  result = (True, func(*args, **kwds))
/opt/conda/lib/python3.8/multiprocessing/pool.py:125: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  result = (True, func(*args, **kwds))
/opt/conda/lib/python3.8/multiprocessing/pool.py:125: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  result = (True, func(*args, **kwds))
/opt/conda/lib/python3.8/multiprocessing/pool.py:125: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  result = (True, func(*args, **kwds))
/opt/conda/lib/python3.8/multiprocessing/pool.py:125: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  result = (True, func(*args, **kwds))
/opt/conda/lib/python3.8/multiprocessing/pool.py:125: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  result = (True, func(*args, **kwds))
/opt/conda/lib/python3.8/multiprocessing/pool.py:125: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  result = (True, func(*args, **kwds))
/opt/conda/lib/python3.8/multiprocessing/pool.py:125: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  result = (True, func(*args, **kwds))
/opt/conda/lib/python3.8/multiprocessing/pool.py:125: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  result = (True, func(*args, **kwds))
/opt/conda/lib/python3.8/multiprocessing/pool.py:125: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  result = (True, func(*args, **kwds))
/opt/conda/lib/python3.8/multiprocessing/pool.py:125: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  result = (True, func(*args, **kwds))
/opt/conda/lib/python3.8/multiprocessing/pool.py:125: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  result = (True, func(*args, **kwds))
/opt/conda/lib/python3.8/multiprocessing/pool.py:125: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  result = (True, func(*args, **kwds))
/opt/conda/lib/python3.8/multiprocessing/pool.py:125: FutureWarning: The `op` parameter is deprecated and will be removed in a future release. Please use the `predicate` parameter instead.
  result = (True, func(*args, **kwds))

[        vendor_name  Trip_Pickup_DateTime  Trip_Dropoff_DateTime  \
 0               CMT                    15                     15
 1               CMT                     0                      0
 2               DDS                    19                     20
 3               CMT                    22                     22
 4               CMT                    22                     23
 ...             ...                   ...                    ...
 2616239         CMT                    21                     22
 2616240         DDS                    21                     21
 2616241         CMT                    20                     20
 2616242         CMT                    18                     18
 2616243         CMT                    17                     17

          Passenger_Count  Trip_Distance  Start_Lon  Start_Lat    End_Lon  \
 0                      1            0.3 -73.970709  40.796382 -73.973602
 1                      1            1.6 -74.007315  40.739964 -74.004717
 2                      1            2.0 -73.976375  40.756729 -73.954439
 3                      3            1.6 -73.990625  40.751453 -74.008427
 4                      2            3.8 -73.993798  40.734164 -73.958812
 ...                  ...            ...        ...        ...        ...
 2616239                2            1.1 -73.953239  40.779957 -73.955846
 2616240                2            2.2 -73.945982  40.777842 -73.967255
 2616241                1            2.7 -73.984301  40.780015 -73.994844
 2616242                1            0.3 -73.994110  40.751030 -73.998071
 2616243                1            1.2 -73.991239  40.734946 -73.980280

            End_Lat Payment_Type  Fare_Amt  surcharge  Tip_Amt  Tolls_Amt  \
 0        40.792058         Cash       4.1        0.0      0.0        0.0
 1        40.751879         Cash       7.0        0.0      0.0        0.0
 2        40.767205         CASH       8.1        0.5      0.0        0.0
 3        40.746579         Cash       7.0        0.0      0.0        0.0
 4        40.769911         Cash      12.6        0.0      0.0        0.0
 ...            ...          ...       ...        ...      ...        ...
 2616239  40.767787         Cash       5.8        0.0      0.0        0.0
 2616240  40.756029         CASH       7.7        0.5      0.0        0.0
 2616241  40.750486         Cash       9.4        0.0      0.0        0.0
 2616242  40.754170         Cash       4.3        0.0      0.0        0.0
 2616243  40.745877         Cash       7.1        0.0      0.0        0.0

          Total_Amt                   pick_up_Zone  pick_up_ID  \
 0              4.1               Manhattan Valley       151.0
 1              7.0  Meatpacking/West Village West       158.0
 2              8.6                 Midtown Center       161.0
 3              7.0               Garment District       100.0
 4             12.6        Greenwich Village North       113.0
 ...            ...                            ...         ...
 2616239        5.8          Upper East Side North       236.0
 2616240        8.2                 Yorkville East       262.0
 2616241        9.4            Lincoln Square West       143.0
 2616242        4.3   Penn Station/Madison Sq West       186.0
 2616243        7.1        Greenwich Village North       113.0

                          drop_off_Zone  drop_off_ID
 0                Upper West Side North        238.0
 1            West Chelsea/Hudson Yards        246.0
 2                      Lenox Hill East        140.0
 3            West Chelsea/Hudson Yards        246.0
 4                      Lenox Hill West        141.0
 ...                                ...          ...
 2616239                Lenox Hill East        140.0
 2616240  Sutton Place/Turtle Bay North        229.0
 2616241                   East Chelsea         68.0
 2616242                   East Chelsea         68.0
 2616243                    Murray Hill        170.0

 [2616245 rows x 19 columns],
         vendor_name  Trip_Pickup_DateTime  Trip_Dropoff_DateTime  \
 2616244         CMT                    23                     23
 2616245         CMT                     0                      0
 2616246         CMT                    12                     13
 2616247         CMT                    17                     17
 2616248         CMT                     2                      2
 ...             ...                   ...                    ...
 5232483         CMT                     8                      8
 5232484         CMT                    23                     23
 5232485         CMT                    17                     17
 5232486         CMT                     9                      9
 5232487         CMT                    14                     14

          Passenger_Count  Trip_Distance  Start_Lon  Start_Lat    End_Lon  \
 2616244                1            2.8 -73.979688  40.752251 -73.948924
 2616245                1            2.4 -73.958703  40.716920 -73.950893
 2616246                1            1.5 -73.995997  40.743438 -73.978151
 2616247                3            4.1 -73.993253  40.692781 -73.992018
 2616248                1            0.9 -74.016789  40.757739 -74.016789
 ...                  ...            ...        ...        ...        ...
 5232483                1            0.9 -74.003576  40.731881 -74.000920
 5232484                1            1.6 -73.953664  40.766926 -73.941981
 5232485                1            1.1 -73.962143  40.779225 -73.973121
 5232486                1            1.7 -73.988664  40.731576 -73.995708
 5232487                1            3.5 -73.994808  40.725342 -73.966270

            End_Lat Payment_Type  Fare_Amt  surcharge  Tip_Amt  Tolls_Amt  \
 2616244  40.777459       Credit       9.0        0.0      1.8        0.0
 2616245  40.727541         Cash       7.8        0.0      0.0        0.0
 2616246  40.751509         Cash       6.9        0.0      0.0        0.0
 2616247  40.734991         Cash      15.9        0.0      0.0        0.0
 2616248  40.757739         Cash       5.0        0.0      0.0        0.0
 ...            ...          ...       ...        ...      ...        ...
 5232483  40.721094       Credit       4.9        0.0      1.0        0.0
 5232484  40.786956         Cash       6.6        0.0      0.0        0.0
 5232485  40.763836         Cash       7.5        0.0      0.0        0.0
 5232486  40.746574         Cash       8.1        0.0      0.0        0.0
 5232487  40.761691         Cash      12.9        0.0      0.0        0.0

          Total_Amt               pick_up_Zone  pick_up_ID  \
 2616244       10.8                Murray Hill       170.0
 2616245        7.8  Williamsburg (North Side)       255.0
 2616246        6.9                   Flatiron        90.0
 2616247       15.9           Brooklyn Heights        33.0
 2616248        5.0                        NaN         NaN
 ...            ...                        ...         ...
 5232483        5.9               West Village       249.0
 5232484        6.6            Lenox Hill East       140.0
 5232485        7.5               Central Park        43.0
 5232486        8.1               East Village        79.0
 5232487       12.9    Greenwich Village South       114.0

                    drop_off_Zone  drop_off_ID
 2616244           Yorkville East        262.0
 2616245               Greenpoint        112.0
 2616246              Murray Hill        170.0
 2616247  Greenwich Village North        113.0
 2616248                      NaN          NaN
 ...                          ...          ...
 5232483                     SoHo        211.0
 5232484        East Harlem South         75.0
 5232485            Midtown North        163.0
 5232486                 Flatiron         90.0
 5232487          Lenox Hill West        141.0

 [2616244 rows x 19 columns],
         vendor_name  Trip_Pickup_DateTime  Trip_Dropoff_DateTime  \
 5232488         CMT                    12                     12
 5232489         CMT                    18                     18
 5232490         CMT                     0                      0
 5232491         CMT                    14                     14
 5232492         CMT                    11                     11
 ...             ...                   ...                    ...
 7848727         VTS                    13                     14
 7848728         VTS                    20                     20
 7848729         VTS                    12                     12
 7848730         VTS                    17                     17
 7848731         CMT                    23                     23

          Passenger_Count  Trip_Distance  Start_Lon  Start_Lat    End_Lon  \
 5232488                1           1.70 -73.988777  40.736797 -73.972908
 5232489                1           0.70 -73.947864  40.770733 -73.955852
 5232490                1           8.00 -74.001527  40.731005 -74.025915
 5232491                1           5.20 -73.975918  40.781414 -74.001684
 5232492                1           1.20 -73.993393  40.749837 -73.987299
 ...                  ...            ...        ...        ...        ...
 7848727                2           2.45 -73.991233  40.751172 -73.982532
 7848728                2           1.12 -73.980078  40.739143 -73.993072
 7848729                1           1.11 -73.965053  40.759437 -73.972707
 7848730                1           1.71 -74.000877  40.741998 -73.979915
 7848731                1           1.40 -73.988475  40.764061 -74.004485

            End_Lat Payment_Type  Fare_Amt  surcharge  Tip_Amt  Tolls_Amt  \
 5232488  40.758771         Cash       6.9        0.0      0.0       0.00
 5232489  40.764179         Cash       7.1        0.0      0.0       0.00
 5232490  40.640048         Cash      19.8        0.0      0.0       4.15
 5232491  40.719699         Cash      23.3        0.0      0.0       0.00
 5232492  40.742761         Cash       6.9        0.0      0.0       0.00
 ...            ...          ...       ...        ...      ...        ...
 7848727  40.767997         CASH      12.1        0.0      0.0       0.00
 7848728  40.733563       Credit       6.9        0.5      2.0       0.00
 7848729  40.764155       Credit       5.3        0.0      1.0       0.00
 7848730  40.749567         CASH       6.1        0.0      0.0       0.00
 7848731  40.752303         Cash       6.2        0.0      0.0       0.00

          Total_Amt                   pick_up_Zone  pick_up_ID  \
 5232488       6.90                       Gramercy       107.0
 5232489       7.10                 Yorkville East       262.0
 5232490      23.95                   West Village       249.0
 5232491      23.30          Upper West Side South       239.0
 5232492       6.90   Penn Station/Madison Sq West       186.0
 ...            ...                            ...         ...
 7848727      12.10   Penn Station/Madison Sq West       186.0
 7848728       9.40                       Kips Bay       137.0
 7848729       6.30  Sutton Place/Turtle Bay North       229.0
 7848730       6.10                       Flatiron        90.0
 7848731       6.20                   Clinton East        48.0

                      drop_off_Zone  drop_off_ID
 5232488             Midtown Center        161.0
 5232489            Lenox Hill East        140.0
 5232490           Sunset Park West        228.0
 5232491                       SoHo        211.0
 5232492                   Union Sq        234.0
 ...                            ...          ...
 7848727        Lincoln Square East        142.0
 7848728    Greenwich Village North        113.0
 7848729      Upper East Side South        237.0
 7848730                Murray Hill        170.0
 7848731  West Chelsea/Hudson Yards        246.0

 [2616245 rows x 19 columns],
          vendor_name  Trip_Pickup_DateTime  Trip_Dropoff_DateTime  \
 7848732          VTS                     9                     10
 7848733          VTS                    16                     17
 7848734          VTS                     8                      8
 7848735          VTS                    14                     14
 7848736          VTS                    20                     20
 ...              ...                   ...                    ...
 10464971         CMT                    21                     21
 10464972         CMT                    21                     21
 10464973         CMT                     1                      1
 10464974         CMT                    23                      0
 10464975         CMT                    12                     12

           Passenger_Count  Trip_Distance  Start_Lon  Start_Lat    End_Lon  \
 7848732                 1           0.78 -73.997843  40.745090 -73.985162
 7848733                 5           1.81 -73.999533  40.711960 -73.982612
 7848734                 1           1.79 -73.984497  40.728900 -73.980697
 7848735                 1           0.95 -73.980975  40.781983 -73.972052
 7848736                 2           4.66 -73.987842  40.727845 -73.946932
 ...                   ...            ...        ...        ...        ...
 10464971                1           5.40 -74.006909  40.706041 -73.970295
 10464972                1           0.90 -73.982273  40.756841 -73.986418
 10464973                1           1.70 -73.999620  40.728371 -74.011543
 10464974                2           5.10 -73.977071  40.787890 -73.989669
 10464975                1           0.40 -73.957029  40.765855 -73.963685

             End_Lat Payment_Type  Fare_Amt  surcharge  Tip_Amt  Tolls_Amt  \
 7848732   40.739757         CASH       3.7        0.0      0.0        0.0
 7848733   40.731512         CASH       8.5        0.0      0.0        0.0
 7848734   40.750905       Credit       8.1        0.0      1.5        0.0
 7848735   40.793978         CASH       5.3        0.0      0.0        0.0
 7848736   40.780515       Credit      13.3        0.5      2.0        0.0
 ...             ...          ...       ...        ...      ...        ...
 10464971  40.754740       Credit      15.0        0.0      0.0        0.0
 10464972  40.766582         Cash       5.4        0.0      0.0        0.0
 10464973  40.708054       Credit       7.0        0.0      1.0        0.0
 10464974  40.729651         Cash      15.8        0.0      0.0        0.0
 10464975  40.768296         Cash       4.1        0.0      0.0        0.0

           Total_Amt              pick_up_Zone  pick_up_ID  \
 7848732         3.7                  Flatiron        90.0
 7848733         8.5                 Chinatown        45.0
 7848734         9.6              East Village        79.0
 7848735         5.3     Upper West Side South       239.0
 7848736        15.8              East Village        79.0
 ...             ...                       ...         ...
 10464971       15.0  Financial District North        87.0
 10464972        5.4            Midtown Center       161.0
 10464973        8.0   Greenwich Village South       114.0
 10464974       15.8     Upper West Side South       239.0
 10464975        4.1           Lenox Hill East       140.0

                   drop_off_Zone  drop_off_ID
 7848732                Gramercy        107.0
 7848733                Gramercy        107.0
 7848734             Murray Hill        170.0
 7848735   Upper West Side North        238.0
 7848736          Yorkville West        263.0
 ...                         ...          ...
 10464971    UN/Turtle Bay South        233.0
 10464972           Clinton East         48.0
 10464973     World Trade Center        261.0
 10464974           East Village         79.0
 10464975  Upper East Side South        237.0

 [2616244 rows x 19 columns],
          vendor_name  Trip_Pickup_DateTime  Trip_Dropoff_DateTime  \
 10464976         VTS                    19                     19
 10464977         VTS                    15                     16
 10464978         CMT                    15                     15
 10464979         VTS                    18                     18
 10464980         CMT                     0                      1
 ...              ...                   ...                    ...
 13081215         VTS                    22                     22
 13081216         VTS                     8                      8
 13081217         VTS                     8                      9
 13081218         VTS                    23                      0
 13081219         VTS                     8                      8

           Passenger_Count  Trip_Distance  Start_Lon  Start_Lat    End_Lon  \
 10464976                1           1.58 -73.984125  40.740217 -73.970538
 10464977                1          11.74 -74.003953  40.707335 -73.870787
 10464978                1           2.60 -73.949201  40.781748 -73.979662
 10464979                2           1.15 -73.960750  40.757438 -73.978702
 10464980                1           8.60 -73.982074  40.762315 -73.993533
 ...                   ...            ...        ...        ...        ...
 13081215                1           1.69 -73.994683  40.734633 -73.982575
 13081216                1           3.70 -73.958633  40.783972 -73.992403
 13081217                2           3.41 -73.962507  40.766962 -73.996218
 13081218                1           3.43 -73.967777  40.758707 -74.005783
 13081219                1           1.47 -74.006590  40.731683 -73.994678

             End_Lat Payment_Type  Fare_Amt  surcharge  Tip_Amt  Tolls_Amt  \
 10464976  40.756075         CASH       6.5        1.0     0.00        0.0
 10464977  40.774012         CASH      28.1        0.0     0.00        0.0
 10464978  40.765482         Cash       9.3        0.0     0.00        0.0
 10464979  40.765645         CASH       6.9        1.0     0.00        0.0
 10464980  40.661404         Cash      22.2        0.0     0.00        0.0
 ...             ...          ...       ...        ...      ...        ...
 13081215  40.719675         CASH       8.1        0.5     0.00        0.0
 13081216  40.737590         CASH      12.5        0.0     0.00        0.0
 13081217  40.736315       Credit      16.1        0.0     3.22        0.0
 13081218  40.731683         CASH      11.7        0.5     0.00        0.0
 13081219  40.750412         CASH       5.7        0.0     0.00        0.0

           Total_Amt                   pick_up_Zone  pick_up_ID  \
 10464976       7.50                       Gramercy       107.0
 10464977      28.10                        Seaport       209.0
 10464978       9.30                 Yorkville West       263.0
 10464979       7.90  Sutton Place/Turtle Bay North       229.0
 10464980      22.20      Times Sq/Theatre District       230.0
 ...             ...                            ...         ...
 13081215       8.60        Greenwich Village North       113.0
 13081216      12.50          Upper East Side North       236.0
 13081217      19.32                Lenox Hill West       141.0
 13081218      12.20  Sutton Place/Turtle Bay North       229.0
 13081219       5.70                   West Village       249.0

                           drop_off_Zone  drop_off_ID
 10464976  Sutton Place/Turtle Bay North        229.0
 10464977              LaGuardia Airport        138.0
 10464978                  Midtown North        163.0
 10464979                  Midtown North        163.0
 10464980               Sunset Park West        228.0
 ...                                 ...          ...
 13081215        Two Bridges/Seward Park        232.0
 13081216                       Union Sq        234.0
 13081217        Greenwich Village North        113.0
 13081218                   West Village        249.0
 13081219   Penn Station/Madison Sq West        186.0

 [2616244 rows x 19 columns],
          vendor_name  Trip_Pickup_DateTime  Trip_Dropoff_DateTime  \
 13081220         CMT                    17                     17

In [15]:
new_frame = pd.concat(list_frame)
new_frame.to_csv('Finish_mapping.csv')

In [17]:
new_frame

TypeError: Unknown type for the first argument in fread: <class 'geopandas.geodataframe.GeoDataFrame'>

In [18]:
frame = dt.fread('Finish_mapping.csv')

In [19]:
frame

In [23]:
frame[:,dt.count(), by('pick_up_Zone')].sort(-f.count)

In [24]:
frame[:,dt.count(), by('drop_off_Zone')].sort(-f.count)

In [26]:
frame[:, dt.count(), by('pick_up_Zone', 'drop_off_Zone')].sort(-f.count)

In [27]:
frame[:, dt.count(), by('Trip_Pickup_DateTime')]

In [29]:
frame[:, dt.count(), by('Trip_Dropoff_DateTime')]