In [1]:
from datatable import dt, f, by, as_type
from datetime import datetime as d
from shapely.geometry import Point, shape, Polygon
import os, shutil, glob
import argparse
import dask.dataframe as dd
import pandas as pd
import matplotlib.pyplot as plt
import geopandas
import warnings
warnings.filterwarnings('ignore')

/opt/conda/lib/python3.8/site-packages/geopandas/_compat.py:111: UserWarning: The Shapely GEOS version (3.10.2-CAPI-1.16.0) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.
  warnings.warn(

In [2]:
fold = '/BigData/BigData/HW1/*'
file = glob.glob(f'{fold}')

In [3]:
frame = dt.Frame()
[frame.rbind(dt.fread(f, fill=True), force=True, bynames=True) for f in file]
columns = frame.names

In [4]:
'''
Delete all NA row column and row
'''
del frame[:, 'store_and_forward']
del frame[:, 'Rate_Code']
del frame[:, 'mta_tax']
del frame[dt.rowall(f[:]==None),:]

In [5]:
#convert DateTime to Hour (0~23)
frame[:,dt.update(Trip_Pickup_DateTime = dt.time.hour(f.Trip_Pickup_DateTime), \
                    Trip_Dropoff_DateTime = dt.time.hour(f.Trip_Dropoff_DateTime))]
frame

In [6]:
# A function map Lon and Lat to Region
from pyproj import CRS
crs = CRS('epsg:4326')
def cor2loc(df, lon_var, lat_var, name_var):
    local_df = df.copy()
    shape_df = geopandas.read_file('taxi_zones/taxi_zones.shp')
    shape_df.drop(['OBJECTID', 'Shape_Area', 'Shape_Leng'], axis=1, inplace=True)
    shape_df = shape_df.to_crs(crs)
    
    try:
        local_gdf = geopandas.GeoDataFrame(local_df, crs=crs,
                                          geometry=[Point(xy) for xy in zip(local_df[lon_var], local_df[lat_var])])
        local_gdf = geopandas.sjoin(local_gdf, shape_df, how='left', op='within')
        local_gdf = local_gdf.drop('geometry', axis=1)
        local_gdf = local_gdf.drop('index_right', axis=1)
        local_gdf.rename(columns={'zone':f'{name_var}_Zone', 'LocationID':f'{name_var}_ID', 'borough':f'{name_var}_borough'}, inplace=True)
        return local_gdf
    except ValueError as ve:
        print(ve)
        print(ve.stacktrace())
        series = df[lon_var]
        return series

In [7]:
# Partition dataframe to multiple chunk
num_of_pool = 32
frame = frame.to_pandas()
n = frame.shape[0] // num_of_pool
list_frame = [frame[i:i+n] for i in range(0, frame.shape[0],n)]

In [8]:
# Multiprocess mapping due to big data
from multiprocessing import Pool
from itertools import repeat
def multiple_mapping(num_of_pool, list_df,lon_var, lat_var, name_var):
    with Pool(num_of_pool) as pool:
        second_arg = lon_var
        third_arg = lat_var
        forth_arg = name_var
        new_list = pool.starmap(cor2loc, zip(list_df, repeat(second_arg), repeat(third_arg), repeat(forth_arg)))
    return new_list

In [9]:
list_frame = multiple_mapping(num_of_pool, list_frame, 'Start_Lon', 'Start_Lat', 'pick_up')
list_frame = multiple_mapping(num_of_pool, list_frame, 'End_Lon', 'End_Lat', 'drop_off')

In [10]:
# Save mapping result.
new_frame = pd.concat(list_frame)
new_frame.to_csv('Finish_mapping.csv')

In [11]:
frame = dt.fread('Finish_mapping.csv')

In [12]:
frame

In [13]:
pick_up_count = frame[:,dt.count(), by('pick_up_Zone')].sort(-f.count)
pick_up_count

In [14]:
drop_off_count = frame[:,dt.count(), by('drop_off_Zone')].sort(-f.count)
drop_off_count

In [15]:
pd_count = frame[:, dt.count(), by('pick_up_Zone', 'drop_off_Zone')].sort(-f.count)
pd_count

In [16]:
pick_time_count = frame[:, dt.count(), by('Trip_Pickup_DateTime')]
pick_time_count

In [17]:
drop_time_count = frame[:, dt.count(), by('Trip_Dropoff_DateTime')]
drop_time_count